<p id="notice"><%= notice %></p>

<p>
  <b>Cname:</b>
  <%= @category.cname %>
</p>

<p>
  <b>Id:</b>
  <%= @category.id %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
